body {
    text-align: center;
    background-color: skyblue;
}

h1 {
    animation-duration: 2s;
    animation-name: go;
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}
@keyframes go {
    from {
      margin-left: 100%;
      width: 200%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

h2 {
    margin: 1em 0 0.25em;
    font-family: Monoton;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
